/* Random CSS File - ik3MvBL65d */
body {
  background-color: #xQta3i;
  color: #eIuLgm;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #Htyv0n;
  font-size: 29px;
  text-align: left;
}

p {
  line-height: 1.7;
  font-style: normal;
}

.random-class-qWS3X {
  border: 4px dotted #OpVUmi;
  padding: 8px;
}
