/* Random CSS File - OGAdH4pLkP */
body {
  background-color: #f0a9si;
  color: #7ZMw7h;
  font-family: Arial, sans-serif;
  margin: 13px;
}

h1 {
  color: #ct7nUd;
  font-size: 37px;
  text-align: left;
}

p {
  line-height: 1.6;
  font-style: normal;
}

.random-class-psKok {
  border: 1px solid #nwGwva;
  padding: 15px;
}
