/* Random CSS File - 2I6JwK1fIb */
body {
  background-color: #VKJMnz;
  color: #DSsuS0;
  font-family: Arial, sans-serif;
  margin: 41px;
}

h1 {
  color: #bFAeSm;
  font-size: 38px;
  text-align: left;
}

p {
  line-height: 1.6;
  font-style: normal;
}

.random-class-qhnT9 {
  border: 2px dashed #h3v6uY;
  padding: 20px;
}
