/* Random CSS File - 0CBW6PwDUU */
body {
  background-color: #FRwS5s;
  color: #9IIvpl;
  font-family: Arial, sans-serif;
  margin: 24px;
}

h1 {
  color: #xDp0pX;
  font-size: 21px;
  text-align: center;
}

p {
  line-height: 1.7;
  font-style: normal;
}

.random-class-HYo2x {
  border: 5px dotted #UeDdMe;
  padding: 10px;
}
